.env
node_modules

# Next.js build output
chatbot/.next/

# Dependencies
chatbot/node_modules/

# Environment files
chatbot/.env
chatbot/.env.local
chatbot/.env.development.local
chatbot/.env.test.local
chatbot/.env.production.local

# Debug logs
chatbot/npm-debug.log*
chatbot/yarn-debug.log*
chatbot/yarn-error.log*

# Local data files
chatbot/pages/retrieval_service/data/

# TypeScript
chatbot/*.tsbuildinfo
chatbot/next-env.d.ts